<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--virtualType name="Fishpig\CdKey\Model\Resource\CdKey\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cdkey_key</argument>
            <argument name="resourceModel" xsi:type="string">Fishpig\CdKey\Model\Resource\CdKey</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cdkey_cdkey_grid_data_source" xsi:type="string">Fishpig\CdKey\Model\Resource\CdKey\Collection</item>
            </argument>
        </arguments>
    </type-->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="fishpig_cdkey_listing_data_source" xsi:type="string">Fishpig\CdKey\Model\Resource\CdKey\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Fishpig\CdKey\Model\Resource\CdKey\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">cdkey_key</argument>
            <argument name="eventPrefix" xsi:type="string">fishpig_cdkey_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">cdkey_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Fishpig\CdKey\Model\Resource\CdKey</argument>
        </arguments>
    </type>

    <!--virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="customertab" xsi:type="array">
                    <item name="class" xsi:type="string">Fishpig\CdKey\Ui\DataProvider\Product\Modifier\Customertab</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
            </argument>
        </arguments>
    </virtualType-->
    <!--preference for="Magento\Catalog\Ui\Component\Listing\Attribute\RepositoryInterface" type="Magento\Catalog\Ui\Component\Listing\Attribute\Repository"/-->
    <!--virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="related" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Related</item>
                    <item name="sortOrder" xsi:type="number">500</item>
                </item>
            </argument>
        </arguments>
    </virtualType-->
    <!--type name="Magento\Catalog\Ui\DataProvider\Product\Form\ProductDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool</argument>
        </arguments>
    </type-->
    <!--type name="Fishpig\CdKey\Ui\DataProvider\Product\Modifier\Customertab">
        <arguments>
            <argument name="scopeName" xsi:type="string">product_form.product_form</argument>
        </arguments>
    </type-->
    <!--type name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Related">
        <arguments>
            <argument name="scopeName" xsi:type="string">product_form.product_form</argument>
        </arguments>
    </type-->

    <!--virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="test" xsi:type="array">
                    <item name="class" xsi:type="string">Fishpig\CdKey\Ui\DataProvider\Product\Form\Modifier\Test</item>
                    <item name="sortOrder" xsi:type="number">500</item>
                </item>
            </argument>
        </arguments>
    </virtualType-->
    <type name="Fishpig\CdKey\Model\Test\MdataProvider">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="watermark_image_image" xsi:type="array">
                    <!--item name="path" xsi:type="string">design/watermark/image_image</item-->
                    <!--item name="fieldset" xsi:type="string">image</item-->
                    <item name="backend_model" xsi:type="string">Fishpig\CdKey\Model\Test\Image</item>
                    <item name="upload_dir" xsi:type="array">
                        <item name="config" xsi:type="string">system/filesystem/media</item>
                        <item name="scope_info" xsi:type="string">1</item>
                        <item name="value" xsi:type="string">catalog/product/watermark</item>
                    </item>
                    <item name="base_url" xsi:type="array">
                        <item name="type" xsi:type="string">media</item>
                        <item name="scope_info" xsi:type="string">1</item>
                        <item name="value" xsi:type="string">catalog/product/watermark</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>